.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 21, 21);
    width: 100%;
    padding: 1rem;
}

.headerLeft {
    display: flex;
    align-items: center;

}

a > span{
    margin: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}
a > span:hover{
    color: yellow;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}
.user__avatar {
    font-size: 2rem;
}